body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: white;
    color: #171717;
    padding: 20px;
    text-align: center;
    
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    border: 5px solid black;
    background-color: black;
    padding: 0;
   
    
}

nav ul li {
    margin: 0 15px;
    border: 12px solid black;
    width: 100%;
   
    
    
}

nav ul li a {
    color: #e6ebee;
    text-decoration: none;
   
}

main {
    padding: 20px;
    text-align: center;
    color: #1a1919;
}

section {
    margin-bottom: 20px;
}
#home h1 {
    margin-top: 0;
}


.about {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;

}

.about-content {
    display: flex;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about img {
    max-width: 200px;
    float: left;
    border-radius: 8px;
    margin-right: 20px;
}

.about-text {
    max-width: 700px;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text p {
    line-height: 1.6;
}

.about-text a {
    color: #4caf50;
    text-decoration: none;
}

.about-text button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.info {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 20px;
}

.info-box {
    background-color: #ffa726;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
}

.services, .contact {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
}